/* font - Nanum Gothic */
/* @font-face {
  font-family: 'Nanum Gothic';
  src: url('../fonts/NanumGothic-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url('../fonts/NanumGothic-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Nanum Gothic';
    src: url('../fonts/NanumGothic-ExtraBold.woff2');
  font-weight: 800;
} */

body {
  min-width: 320px;
  font-family: 'Nanum Gothic';
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
/* skip-nav */
#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 16px;
  z-index: 100;
  transition: .3s;
}
#skip-nav:focus {
  top: 0;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.inner {
  position: relative;
  width: 1152px;
  margin: 0 auto;
  min-width: 1152px;
}
.sc-title {
  font-size: 24px;
  font-weight: 700;
}
.btn {
  margin: 0;
  cursor: pointer;
  border: 0;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
select, input {
  font-size: 16px;
}
input, select, textarea {
  font-family: 'Nanum Gothic';
  color: #767676;
}
input[type='password'], input[type='text'] {
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0 12px;
  box-sizing: border-box;
}
select {
  background: url("../images/select_arrow.png") no-repeat no-repeat 96% center;
  background-size: 8px auto;
}

/* icon */
i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
}

/* storage */
.sc-event .title-area .link-more,
.sc-program .title-area .link-more,
#header .group-gnb .logo a::before,
#header .group-search .btn-search .ico-search,
.sc-news .title-area .link-all,
.sc-sidebanner .btn-prev .ico-btn,
.sc-sidebanner .btn-next .ico-btn,
.sc-sidebanner .btn-play .ico-play,
.sc-sidebanner .btn-pause .ico-pause,
#footer .group-info .call-info::before {
  background-image: url("../images/sp_bg.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

.ico-news,
.ico-join {
  background-image: url("../images/icon_main.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

