@import './reset.css';
@import './common.css';

#wrapper {
  overflow: hidden;
  min-width: 1152px;
  letter-spacing: -0.05em;
}

/* header */
#header .group-gnb::after {
  content: '';
  display: block;
  clear: both;
}
#header .group-gnb .logo-area {
  float: left;
  padding-right: 40px;
  margin: 8px 30px 0 0;
}
#header .group-gnb .logo a {
  display: block;
}
#header .group-gnb .logo a::before {
  content: '';
  display: inline-block;
  width: 105px;
  height: 27px;
  background-position: -5px -165px;
  vertical-align: top;
}
#header .group-gnb .gnb-area {
  float: left;
}
#header .group-gnb .gnb-list::after {
  content: '';
  display: block;
  clear: both;
}
#header .group-gnb .gnb-item {
  float: left;
}
#header .gnb-item + .gnb-item {
  margin-left: 20px;
}
#header .group-gnb .link-gnb {
  font-size: 16px;
}
#header .group-gnb .link-gnb,
#header .group-gnb .service-area > a {
  display: block;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
}
#header .group-gnb .link-gnb:hover,
#header .group-gnb .service-area > a:hover {
  color: #2292e9;
}
#header .group-gnb .service-area {
  float: right;
}
#header .group-gnb .service-area::after {
  content: '';
  display: block;
  clear: both;
}
#header .group-gnb .service-area > a {
  float: left;
  margin: 0 10px;
  font-size: 14px;
}
#header .group-search {
  position: relative;
  height: 120px;
  background: #fff;
}
#header .group-search::after {
  content: '';
  display: block;
  clear: both;
}
#header .group-search .logo-area {
  float: left;
  margin: 38px 0 30px;
}
#header .group-search .logo {
  float: left;
}
#header .group-search .logo a {
  display: block;
}
#header .group-search .logo a::before {
  content: '';
  display: inline-block;
  width: 178px;
  height: 51px;
  background: url("../images/logo.png") no-repeat 0 0;
  vertical-align: top;
}
#header .group-search .search-area {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -245px;
  width: 460px;
  height: 42px;
  border: 3px solid #2292e9;
  box-sizing: border-box;
}
#header .group-search .input-search {
  width: calc(100% - 42px);
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
}
#header .group-search .input-search::placeholder {
  font-size:15px;
  color:#2292e9;
}
#header .group-search .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
#header .group-search .btn-keyboard {
  position: absolute;
  top: 12px;
  right: 42px;
}
#header .group-search .btn-keyboard .ico-keyboard {
  width: 29px;
  height: 16px;
  background: url("../images/ico_keyboard.png") no-repeat center;
}
#header .group-search .language-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 21px;
}
#header .group-search .language-area::after {
  content: '';
  display: block;
  clear: both;
}
#header .language-area .select-lang {
  float: left;
  width: 80px;
  height: 21px;
  line-height: 21px;
  padding: 0 0 0 2px;
  font-size: 12px;
  color: #1E6CB3;
  border: 1px solid #afcfea;
  box-sizing: border-box;
}
#header .language-area .link-go {
  float: left;
  width: 30px;
  height: 21px;
  line-height: 21px;
  border: 0;
  padding: 0;
  font-size: 11px;
  color: #fff;
  background-color: #1E6CB3;
  text-align: center;
}
#header .group-search .weather-area {
  float: right;
  width: 260px;
  height: 85px;
  margin-top: 34px;
}
#header .weather-area .ico-weather {
  float: left;
  margin: 3px 5px 0 0;
  width: 58px;
  height: 47px;
  background: url("../images/ico_weather.png") no-repeat center;
}
#header .weather-area .weather-info {
  overflow: hidden;
}
#header .weather-area .weather-info .info-box {
  display: block;
}
#header .weather-area .info-box + .info-box {
  margin-top: 12px;
}
#header .weather-area .degree {
  font-size: 25px;
  font-weight: bold;
  margin-right: 12px;
}
#header .weather-area .condition {
  font-size: 16px;
  letter-spacing: -0.1em;
}
#header .weather-area .dust {
  font-size: 13px;
  letter-spacing: -1px;
}
#header .weather-area .dust + .dust {
  margin-left: 5px;
}